<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school_teacher.name %>
</p>

<%= link_to 'Edit', edit_school_teacher_path(@school_teacher) %> |
<%= link_to 'Back', school_teachers_path %>
